.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #f5f6f7;
    position: fixed;
    top: 0;
    right: 0;
    color: #ffffff;
    line-height: 56px;
    padding: 0 10px;
    z-index: 2;
    margin: 0;
    box-shadow: 0px 3px 10px #0000001F;
    transition: all 0.3s linear;
}

.header img {
    width: 30px;
    height: 30px;
    display: none;
}

.header h1 {
    color: #4f5d6c;
    display: block;
    margin: 0 auto;
}

.header h1 a {
    color: #4f5d6c;
    display: block;
    margin: 0 auto;
}

.logo__design {
    color: #f5a623;
}


.header__link ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10rem;
}

.button {
    padding: 7px ;
    color: #ffffff;
    background-color: #f5a623;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Media Query */
@media (max-width: 768px) {
    .header img {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-top: 20px;
    }

    .header__link ul li {
        display: inline-block;
        list-style: none;
        margin-right: 10px;
    }
}