.side__bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f5f6f7;
  z-index: 2;
  padding: 10px;
  box-shadow: 0px 3px 10px #0000001f;
  transition: all 0.3s linear;
}

.user__profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin-top: 3rem;
}

.user__avatar img {
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.avatar__bio h1 {
  font-size: 20px;
  color: #333333;
  margin-top: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.avatar__bio p {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.side__bar__menu {
  margin-top: 4rem;
}

.side__bar__menu ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
.social__icon a img {
  margin-bottom: 10px;
  height: 35px;
  width: 35px;
}

.title {
  color: #586b7c;
  margin-top: 3rem;
  text-align: center;
}

.side__bar__list ul li {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 15px;
  /* padding: 10px 30px; */
}

/* .side__bar__list ul li:hover {
  background-color: #fbfaf6;
  color: #ffffff;
  border-radius: 25px;
  border: none;
} */

.side__bar__list ul li button {
  background-color: #f5a623;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
}
